*.rbc
*.sassc
.sass-cache
.rspec
doc/sdoc
public/remessas/*
public/assets/
public/digitalizacoes/
public/digitalizacoes/*
config/database.yml
public/arquivopagamento/*
/.bundle
/vendor/bundle
vendor/bundle
/vendor/cache
vendor/cache
db/base_dute.plain
/log/*
log/*
/tmp/*
/db/database.yml
config/database.yml
/config/database.yml
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/initializers/secret_token.rb
rerun.txt
public/anexos/*
/vendor/*
vendor/*

