- model_class = TipoServico
.row-fluid
  %h2.botton-border=t '.title', :model => model_class.model_name.human.titleize
  = flash_message(@tipo_servico)
.row-fluid
  .span8
    = render :partial => "form"